@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');

body {
  font-family: "Frutiger", "Arial", sans-serif;
  font-size: 16pt;
}

h1, h2, h3 {
  font-family: "Frutiger", "Arial", sans-serif;
}

